In [ ]:
# we use Pandas as a library for working with structured data in Python

import pandas as pd

In [34]:
file1 = pd.read_csv('vgsales.csv')
file2 = pd.read_csv('Games_PlayStation.csv')
file3 = pd.read_csv('Raw_Data_score.csv')
file4 = pd.read_csv('videgames_price.csv')
    
merged_data = pd.concat([file1, file2, file3, file4], axis=0)
combined_df.to_csv('combined_file.csv', index=False)

print(merged_data.head()) # or do something else with the merged data

   Rank                      Name Platform    Year         Genre Publisher  \
0   1.0                Wii Sports      Wii  2006.0        Sports  Nintendo
1   2.0         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2   3.0            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3   4.0         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4   5.0  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  ...  Rating  Origen Tienda  \
0     41.49     29.02      3.77         8.46  ...     NaN     NaN    NaN
1     29.08      3.58      6.81         0.77  ...     NaN     NaN    NaN
2     15.85     12.88      3.79         3.31  ...     NaN     NaN    NaN
3     15.75     11.01      3.28         2.96  ...     NaN     NaN    NaN
4     11.27      8.89     10.22         1.00  ...     NaN     NaN    NaN

  Fabricante Consola Género Título Precio Moneda  Disponibilidad
0        NaN     NaN    NaN    NaN    NaN    NaN             NaN
1        NaN     NaN    NaN    NaN    NaN    NaN             NaN
2        NaN     NaN    NaN    NaN    NaN    NaN             NaN
3        NaN     NaN    NaN    NaN    NaN    NaN             NaN
4        NaN     NaN    NaN    NaN    NaN    NaN             NaN

[5 rows x 35 columns]

In [33]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35226 entries, 0 to 16718
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                16598 non-null  float64
 1   Name                33315 non-null  object
 2   Platform            33317 non-null  object
 3   Year                16327 non-null  float64
 4   Genre               33315 non-null  object
 5   Publisher           33205 non-null  object
 6   NA_Sales            33317 non-null  float64
 7   EU_Sales            33317 non-null  float64
 8   JP_Sales            33317 non-null  float64
 9   Other_Sales         33317 non-null  float64
 10  Global_Sales        33317 non-null  float64
 11  Unnamed: 0          1908 non-null   float64
 12  Title               1909 non-null   object
 13  Developer(s)        1905 non-null   object
 14  Publisher(s)        1906 non-null   object
 15  Regions released    1909 non-null   object
 16  Regions released.1  1909 non-null   object
 17  Regions released.2  1909 non-null   object
 18  Ref.                76 non-null     object
 19  Year_of_Release     16450 non-null  float64
 20  Critic_Score        8137 non-null   float64
 21  Critic_Count        8137 non-null   float64
 22  User_Score          10015 non-null  object
 23  User_Count          7590 non-null   float64
 24  Developer           10096 non-null  object
 25  Rating              9950 non-null   object
dtypes: float64(12), object(14)
memory usage: 7.3+ MB

In [26]:
file1 = pd.read_csv('vgsales.csv')

In [27]:
file1.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [28]:
file2.head()

,Unnamed: 0,Title,Developer(s),Publisher(s),Regions released,Regions released.1,Regions released.2,Ref.
0,NaN,Title,Developer(s),Publisher(s),Japan,Europe/PAL,North America,Ref.
1,0.0,007 Racing,Eutechnyx,EA Games and MGM Interactive,Unreleased,"December 15, 2000","November 20, 2000",NaN
2,1.0,007: The World Is Not Enough,Black Ops Entertainment,EA Games and MGM Interactive,Unreleased,"November 17, 2000","November 8, 2000",[1]
3,2.0,007: Tomorrow Never Dies,Black Ops Entertainment,Electronic Arts and MGM Interactive,"February 10, 2000","November 25, 1999","November 16, 1999",NaN
4,3.0,1-Jikan de Wakaru Kabushiki Toushi,Game Stage,D3Publisher,"July 26, 2001",Unreleased,Unreleased,NaN

In [31]:
file3.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
file4.head()

,Unnamed: 0,Origen,Tienda,Fabricante,Consola,Género,Título,Precio,Moneda,Disponibilidad
0,0,Mediamarkt,Mediamarkt,Capcom,PS5,Acción,Resident Evil VIII: Village Lenticular,42.99,EUR,True
1,1,Mediamarkt,Mediamarkt,Sony,PS5,Plataformas,Sackboy: A Big Adventure,59.99,EUR,True
2,2,Mediamarkt,Mediamarkt,Ubisoft,PS5,Acción,Tom Clancy's Rainbow Six Siege,9.99,EUR,True
3,3,Mediamarkt,Mediamarkt,Ubisoft,PS5,Acción,Assassin's Creed Valhalla: El Amanecer del Rag...,34.99,EUR,True
4,4,Mediamarkt,Mediamarkt,NaN,PS5,Terror,Yuoni,29.99,EUR,True

In [36]:
file1 = pd.read_csv('vgsales.csv')
print(file1)

        Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]