# Pandas: grouping

In [58]:
import pandas as pd
import numpy as np

In [131]:
cars = pd.read_csv("vehicles.csv")

In [132]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [133]:
### your code is here

#cars['Model'].count()
models=cars[['Model']]

#models
models2=models.drop_duplicates(keep=False, inplace=False)
#models2
carmodels=models2['Model'].unique
models2
len(models2)
print('There are',len(models2),'Car Models')

There are 631 Car Models

group by the data by the Make  using count function

In [136]:
### your code us here

cars.groupby('Make').count()
cars_make=cars.groupby('Make').count()
cars_make

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [137]:
#Convert CO2 Emissions from Grams/Mile to Grams/Km
#1 Mile = 1.60934 Km
cars_make['CO2 Emission Grams/Km'] = cars_make['CO2 Emission Grams/Mile']/1.6093
cars_make

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,CO2 Emission Grams/Km
Make,,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4,2.485553
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0.621388
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302,187.659231
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41,25.476915
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22,13.670540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,650.593426
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717,445.535326
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32,19.884422
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8,4.971105
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20,12.427764

<b>show the average CO2_Emission_Grams/Km  by Brand

In [139]:
### your code us here

#cars_make['Make']=rownames(cars_make)
#cars_make2= cars_make.groupby("CO2 Emission Grams/Km").max()

cars_make=cars_make.sort_values(by=["CO2 Emission Grams/Mile"],ascending=False)
cars_make["CO2 Emission Grams/Km"].max()
cars_make

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,CO2 Emission Grams/Km
Make,,,,,,,,,,,,,,,
Chevrolet,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,2263.717144
Ford,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,1830.609582
Dodge,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,1466.476108
GMC,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,1458.398061
Toyota,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1140.868701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Qvale,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0.621388
London Coach Co Inc,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0.621388
London Taxi,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0.621388
Import Foreign Auto Sales Inc,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0.621388
Lambda Control Systems,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0.621388

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [142]:
### your code us here

#cars_makeCo2=
cars_make2=cars_make1.groupby('Make2').mean()
cars_make2.sort_values(by=["CO2 Emission Grams/Km"],ascending=False)
#cars_make

,Make3,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,CO2 Emission Grams/Km
Make2,,,,,,,,,,,,,,,,
Chevrolet,0.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,3643.0,2263.717144
Ford,1.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,2946.0,1830.609582
Dodge,2.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,2360.0,1466.476108
GMC,3.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,2347.0,1458.398061
Toyota,4.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1836.0,1140.868701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Excalibur Autos,122.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.621388
S and S Coach Company E.p. Dutton,123.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.621388
Environmental Rsch and Devp Corp,124.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.621388
"E. P. Dutton, Inc.",125.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.621388
Lambda Control Systems,126.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.621388

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [ ]:
cars['Year'].describe()

In [ ]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here